button {
    border: none;
    background-color: #505050;
    font-size: 35px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
  }
  
  button:hover {
    background-color: #d4d4d2;
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: #ff9500;
    border-radius: 40px;
  }
  
  .equals:hover {
    background-color: rgb(83, 83, 82);
  }